@import "components/reset"
@import "components/fonts"
@import "components/grid"
@import "components/button"
@import "mixins/justify"

html, body
  height: 100%

body
  font: 100% 'PFDinTextCondPro', serif

  @import "components/header"
  @import "components/navbar"
  main
    &.not-found
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      justify-content: center
      align-items: center
      align-content: center

      padding: 10px 0 45px

      h1
        font-size: 180px
        font-weight: 400
        text-transform: uppercase

      p
        font-family: 'Myriad Pro', serif
        font-size: 36px
        font-style: italic


    .content
      +justify
      align-items: flex-start
      .left
        @import "components/our_works"
      .right
        flex: 0 0 320px
        text-align: center
        h1
          font-size: 35px
          font-weight: 400
          text-transform: uppercase
          margin-bottom: 35px
          margin-top: 60px

  @import "components/partners"
  @import "components/footer"