@import "components/fonts"

html, body
  padding: 0
  margin: 0
  height: 100%

body
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  align-content: stretch
  align-items: flex-start
  height: 100%

  .content
    width: 970px
    margin: 0 auto

  main
    order: 0
    flex: 1 1 auto
    align-self: stretch

    &.not-found
      text-align: center
      padding: 44px 0

      h1
        font-size: 150px
        font-weight: 400
        margin: 0 0 45px

      p
        color:  #000000
        font-size: 30px
        font-style: italic
        margin: 0

  header, footer, nav
    order: 0
    flex: 0 1 auto
    align-self: stretch

  @import "components/header"
  @import "components/footer"



