footer
    .content
        img(src="img/footer-logo.png")
        div Механообработка деталей #[br] Токарные работы
        div Фрезеровка деталей #[br] Фрезерный работы
        div г. Санкт-Петербург, Колпино #[br] Ижорский завод, пр. Ленина, д.1
        div 8 800 000 00 00 #[br] написать директору