header
    .content
        img(src="img/header-logo.png")
        p.info
            | Производство: #[br] г. Санкт-Петербург, Колпино #[br] Ижорский завод, пр. Ленина, д.1

        div.phone
            p 8 800 000 00 00
            a.btn Обратный звонок