header
    .content
        img(src="img/header-logo.png")
        div Производство: г. Санкт-Петербург, Колпино Ижорский завод, пр. Ленина, д.1

        div 8 800 000 00 00
            a Обратный звонок
nav
    .content nav