.partners
    .content
        h1 Наши заказчики
        p Предприятия крупного, среднего и точного машиностроения
        ul
            each val in ['Машиностроительные предприятия', 'Производители пишевой продукции', 'предприятия специального машиностроения', 'Оборонные предприятия']
                li= val

.partners-data
    .content
        img(src='./img/layer-26.png')
        img(src='./img/layer-27.png')
        img(src='./img/layer-28.png')
        img(src='./img/layer-31.png')
        img(src='./img/layer-29.png')
        img(src='./img/layer-30.png')