@import "../mixins/justify"

header
  color: #000000

  .content
    +justify

    padding: 25px 0 45px

    .info
      font-size: 19px
      font-weight: 400
      text-align: center

    .phone
      font-size: 30px
      font-weight: 400
      text-align: center