extends ./layouts/main
include ./mixins/our_works

block vars
    - var title = 'Main'
block content
    main
        .content
            .left
                +ourWorks('./img/1dsm6252.png','Фрезерные работы', 'Медиамикс продуцирует охват аудитории. Исходя из структуры пирамиды Маслоу, рекламный клаттер раскручивает инструмент маркетинга.')
                +ourWorks('./img/1dsm6216.png','Токарные работы', 'Медиамикс продуцирует охват аудитории. Исходя из структуры пирамиды Маслоу, рекламный клаттер раскручивает инструмент маркетинга.')
                +ourWorks('./img/1dsm6279.png','Изготовление деталей по чертежам заказчика', 'Медиамикс продуцирует охват аудитории. Исходя из структуры пирамиды Маслоу, рекламный клаттер раскручивает инструмент маркетинга.')
                +ourWorks('./img/layer-37.png','Сварочные и сборочные работы', 'Медиамикс продуцирует охват аудитории. Исходя из структуры пирамиды Маслоу, рекламный клаттер раскручивает инструмент маркетинга.')
            .right
                h1 Сертификат качества
                img(src='./img/layer-40.png')
                h1 Наша продукция
                img(src='./img/layer-39.png')
    include ./components/partners